<!-- djangotemplates/example/templates/index.html-->
{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo1.png' %}">

    <title>TCPL</title>
    <!-- This is how to include a static file -->
    <link rel="stylesheet" href="{% static 'css/mystyle.css' type='text/css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'libs/jquery.jsjquery-ui-1.12.1/jquery-ui.css' %}"> -->
    <!-- Leaflet -->
    <link rel="stylesheet" href="{% static 'libs/leaflet/leaflet.css' %}" />
     <!-- BOOTSTRAP only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- ZoomBar & slider-->
    <link rel="stylesheet" href="{% static 'libs/L.Control.ZoomBar-master/src/L.Control.ZoomBar.css' %}" />
    <link rel="stylesheet" href="{% static 'libs/Leaflet.zoomslider-master/src/L.Control.Zoomslider.css' %}" />
    <!-- MousePosition -->
    <link rel="stylesheet" href="{% static 'libs/Leaflet.MousePosition-master/src/L.Control.MousePosition.css ' %}" />
    <!-- line-measure -->
    <link rel="stylesheet" href="{% static 'libs/polyline-measure/line-measure.css' %}" />
    <link rel="stylesheet" href="{% static 'libs/leaflet-measure-master/leaflet-measure.css' %}" />
    <!-- draw -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css" />
    <!-- legend -->
    <link rel="stylesheet" href="{% static 'libs/leaflet-wms-legend/leaflet.wmslegend.css' %}" />
    <!-- html2pdfcdn -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.0/jspdf.umd.min.js"></script> -->
    <!-- fontawsome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <!-- Add SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">


<!-- Add your other JavaScript code -->

  

        </head>
    <body>



        <div id="wrapper">

            <aside id="sidebar-wrapper">
                <div class="sidebar-brand">
                    <h2 style="color:#dddddd">
                        <img class="imglogo" src="{% static 'images/logo1.png' %}" alt="image not found" style="width:40px; height:40px; border-radius:180%; background-color:#dddddd; margin-top:-3%;">
                        TCPLGeo</h2>
                </div>
                <ul class="sidebar-nav">
                    <li class="active">
                        <h3 class="profile-username  fw-bold text-capitalize fs-5 px-4 pt-4 " style="color:#dddddd;">
                           {{ user.username }}
                        </h3>
    
                        <p class="text-muted px-4 ">                    </p>
    
                    </li>
                    <li>
                        <!-- *************************prompt ************** -->
 <!-- Display bookmarks -->
 <div class="dropdown">
    <button class="btn btn-outline-secondary dropdown-toggle text-light ms-1" type="button" id="locationDropdown"
        data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fad fa-bookmark"></i> Bookmarks
    </button>
    <ul class="dropdown-menu ms-1 px-2 bg-transparent" aria-labelledby="locationDropdown">
        <li>
            <div class="dropdown-divider"></div>
            <div class="dropdown">
             <button id="createBookmarkBtn" class="dropdown-item" style="font-size:10px; color: #dddddd;" type="button" id="childDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                Create Bookmark <i class="fal fa-plus-circle"></i>
            </button> 
            <form id="createBookmarkForm" style="display: none;" method="POST" action="{% url 'save_bookmark' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Bookmark Name" required>
                <input type="hidden" name="latitude" id="latitudeInput">
                <input type="hidden" name="longitude" id="longitudeInput">
                <button type="submit">Save Bookmark</button>
              </form>

            <div class="dropdown-menu" aria-labelledby="childDropdown">
                <script>
                // When the `Create Bookmark` button is clicked, open the form
                function createBookmark() {
                  // Get the form element
                  const form = document.getElementById("createBookmarkForm");

                  // Show the form
                  form.style.display = "block";
                }
                </script>
                <!-- Create Bookmark Form -->
            </div>
            </div>
               

        </li>

    </ul>
</div>
                    </li>


 
                </ul>
            </aside>
    
            <div id="navbar-wrapper">
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
    
                            <a href="#" class="navbar-brand fs-3" id="sidebar-toggle" onclick="toggleSidebar()">
                                <i id="sidebar-open-icon" class="fas fa-angle-double-left" style=" padding :10px; border-radius:180%;  color: #343a40;"></i>
                                <i id="sidebar-close-icon" class="fas fa-angle-double-right d-none" style=" color: #343a40;"></i>
                            </a>


                        </div>
                    <div class=" text-light ms-auto  pe-2 "> 
                        <button type="button" class="btn btn-outline-success fw-bold p-1 px-2 " id="kmlBtn"  style="border:0; font-size:15px ; border-radius:10px;" ><i class="fas fa-file-export"style=" width:20px; height:20px;"></i>   <span class="d-none d-sm-inline"> Export KML</span></button>
                    </div>
                        
                            <a href="{% url 'logout' %}" type="button" class=" btn btn-outline-danger fw-bold  p-1 px-2" style="border:0; font-size:15px ; border-radius:10px;" name="Logout" type="submit"><i class="fas fa-sign-out-alt"></i>
<!--                                <img src=images/logout2.jpg alt="image not found" style=" width:20px; height:20px;">-->
                                <span class="d-none d-sm-inline"> logout</span>
                            </a>
                        
                    </div>
                </nav>
            </div>
    
            <section id="content-wrapper">
                <div id="map"></div>
    
                <div id="main">
                    <div class="main_search">
                        <input type="text" placeholder="Search.." name="search2" class="search">
    
                        <button class="bg-light" id="btnData2" type="button" onclick="SearchMe()"><i class="far fa-search"></i></button>
    
                        <button class="btn-success" id="btnData1" type="button" onclick="ClearMe()">Clear</button>
    
    
                        <button onclick="takeScreenshot()" id="save-btn" class="text-light border-0 " style="background:#004aad;    "><i class="fas fa-download"></i></button>
    
                    </div>
                
    
                </div>
            </section>
    
    
        </div>
        <script>
        
            var saveBookmarkUrl = "{% url 'save_bookmark' %}";
          </script>
          <script>
            // When the `Create Bookmark` button is clicked, open the form
            function createBookmark() {
              // Get the form element
              const form = document.getElementById("createBookmarkForm");
            
              // Show the form
              form.style.display = "block";
            }
            </script>

                    <!--html2canvas-->
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.0/html2canvas.min.js"></script>
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    
                    <!-- jquery -->
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
                    <!--leaflet-->
                    <script src="{% static 'libs/leaflet/leaflet.js' %}"></script>
                      <!--Bootstrap-->
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
                      <!--Zoombar-->
                    <script  src="{% static 'libs/L.Control.ZoomBar-master/src/L.Control.ZoomBar.js' %}"></script>
                    <script src="{% static 'libs/Leaflet.zoomslider-master/src/L.Control.Zoomslider.js' %}"></script>
                      <!--Mouse-position-->        
                    <script src="{% static 'libs/Leaflet.MousePosition-master/src/L.Control.MousePosition.js' %}"></script>
                      <!--line measurement-->        
                    <script src="{% static 'libs/polyline-measure/line-measure.js' %}"></script>
                      <!--meausrent-->        
                    <script src="{% static 'libs/leaflet-measure-master/leaflet-measure.js' %}"></script>
                    <script src="{% static 'libs/feat.js' %}"></script>
                      <!--draw-control-->        
                    <script src="{% static 'libs/leaflet-draw-control/leaflet-draw-control.js' %}"></script>
                      <!--legend-->        
                    <script src="{% static 'libs/leaflet-wms-legend/leaflet.wmslegend.js' %}"></script>
                      <!--html2pdf-->        
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
                        integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
                        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                      <!--leaflet-image-->        
                    <script src="{% static 'libs/leaflet-image.js' %}"></script>
                      <!--Leaflet Omnivore KML plugin -->       
                    <script src="https://unpkg.com/leaflet-omnivore/leaflet-omnivore.min.js"></script>
                      <!--sweetalert-->        
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
                
                
                  
          <script src="{% static 'js/map.js' %}"></script>

                
<script>


          // MAP

var map, geojson;

//Add Basemap
var map = L.map("map", {}).setView([18.55, 73.85], 10, L.CRS.EPSG4326);

var googleSat = L.tileLayer(
  "http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}",
  {
    maxZoom: 20,
    subdomains: ["mt0", "mt1", "mt2", "mt3"]
  }
);

var osm = L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
  attribution:
    '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
});

var Esri_WorldImagery = L.tileLayer(
  "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
  {
    attribution:
      "Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community"
  }
);
// <!-- -----------------layer displayed------------------------ -->

var baseLayers = {
  SImagery: Esri_WorldImagery,
  GoogleImage: googleSat,
  OSM: osm
};

var wms_layer1 = L.tileLayer.wms(
  "http://portal.tcplgeo.com:8080/geoservers/DP/wms",
  {
    // layers: layerName,
    format: "image/png",
    transparent: true,
    tiled: true,
    version: "1.1.0",
    attribution: "Revenue",
    opacity: 1
  }
);
var userRole = "<?php echo 'shantaram'; ?>";

var shantaramList = [
  "DP:DP",
  "DP:Revenue",
  "DP:RP",
  "DP:Change_overlay1",
  "DP:Change_overlay",
  "DP:Modification"
];
var adminList = ["DP:DP", "DP:Revenue", "DP:RP", "DP:Modification"];
var finalDraftList = ["DP:DP", "DP:Revenue", "DP:RP", "	DP:Change_overlay1"];
var concatenatedList = [];
var wmsLayersNames = ["DP", "Revenue", "RP", "Change_overlay1"];
var wmsLayerss = {};

if (userRole === "shantaram") {
  finalDraftList = shantaramList;
  wmsLayersNames = [
    "DP",
    "Revenue",
    "RP",
    "Change_overlay1",
    "Change_overlay",
    "Modification"
  ];
}
if (userRole === "admin") {
  finalDraftList = adminList;
  wmsLayersNames = ["DP", "Revenue", "RP", "Modification"];
}
// console.log(finalDraftList);
// console.log(wmsLayersNames);

for (var i = 0; i < finalDraftList.length; i++) {
  var concatenatedString = "wms_layer" + (i + 1);

  // Function to create the GeoServer layer
  var geoserverLayer = createGeoServerLayer(userRole);

  function createGeoServerLayer(userRole) {
    var concatenatedString = finalDraftList[i];
    return createWMSLayer(concatenatedString);
  }
  if (finalDraftList[i] === "DP:DP") {
    geoserverLayer.addTo(map);
  }
  wmsLayerss[wmsLayersNames[i]] = geoserverLayer;
  concatenatedList.push(concatenatedString);
}

function createWMSLayer(layerName) {
  return L.tileLayer.wms("http://portal.tcplgeo.com:8080/geoservers/DP/wms", {
    layers: layerName,
    format: "image/png",
    transparent: true,
    tiled: true,
    version: "1.1.0",
    attribution: "Revenue_Boundary",
    opacity: 0.7
  });
}
var control = new L.control.layers(baseLayers).addTo(map);

//!-- popup -->

map.on("contextmenu", e => {
  let size = map.getSize();
  let bbox = map.getBounds().toBBoxString();
  let layer = "DP:Modification_Overlay";
  let style = "DP:Modification_Overlay";
  let urrr = `http://portal.tcplgeo.com:8080/geoservers/DP/wms?SERVICE=WMS&VERSION=1.1.1&REQUEST=GetFeatureInfo&FORMAT=image%2Fpng&TRANSPARENT=true&QUERY_LAYERS=${layer}&STYLES&LAYERS=${layer}&exceptions=application%2Fvnd.ogc.se_inimage&INFO_FORMAT=application/json&FEATURE_COUNT=50&X=${Math.round(
    e.containerPoint.x
  )}&Y=${Math.round(
    e.containerPoint.y
  )}&SRS=EPSG%3A4326&WIDTH=${size.x}&HEIGHT=${size.y}&BBOX=${bbox}`;

  // you can use this url for further processing such as fetching data from server or showing it on the map

  if (urrr) {
    fetch(urrr).then(response => response.json()).then(html => {
      var htmldata = html.features[0].properties;
      let keys = Object.keys(htmldata);
      let values = Object.values(htmldata);
      let txtk1 = "";
      var xx = 0;
      for (let gb in keys) {
        txtk1 +=
          "<tr><td>" + keys[xx] + "</td><td>" + values[xx] + "</td></tr>";
        xx += 1;
      }
      let detaildata1 =
        "<div style='max-height: 350px;  overflow-y: scroll;'><table  style='width:70%;' class='popup-table' >" +
        txtk1 +
        "<tr><td>Co-Ordinates</td><td>" +
        e.latlng +
        "</td></tr></table></div>";

      L.popup().setLatLng(e.latlng).setContent(detaildata1).openOn(map);
    });
  }
});

//<!-- googleEarth popup -->

map.on("dblclick", function(e) {
  var lat = e.latlng.lat.toFixed(15);
  var lng = e.latlng.lng.toFixed(15);
  // console.log(lat, lng)
  var popupContent =
    '<a href="https://earth.google.com/web/search/' +
    lat +
    "," +
    lng +
    '" target="_blank">Open in Google Earth</a>';
  L.popup().setLatLng(e.latlng).setContent(popupContent).openOn(map);
});

//_______________________________Draw control____________________________________
var polyline = L.polyline([], {
  color: "red"
});
var polygon = L.polygon([], {
  color: "red"
});
var circle = L.circle([], {
  color: "red"
});
var coordinates = [];

var editableLayers = new L.FeatureGroup(); // add the polyline to the FeatureGroup
map.addLayer(editableLayers);

var drawPluginOptions = {
  position: "topright",
  draw: {
    polygon: {
      allowIntersection: true, // Restricts shapes to simple polygons
      shapeOptions: {
        dashArray: "2, 5",
        color: "red"
      }
    },

    polyline: {
      allowIntersection: true, // Restricts shapes to simple polylines
      shapeOptions: {
        dashArray: "2, 5",
        color: "red"
      }
    },

    circle: {
      allowIntersection: true, // Restricts shapes to simple polylines
      shapeOptions: {
        dashArray: "2, 5",
        color: "red"
      }
    },
    // disable toolbar item by setting it to false
    // Turns off this drawing tool
    rectangle: false,
    marker: false
  },
  edit: {
    featureGroup: editableLayers, //REQUIRED!!
    remove: true
  }
};

//****************** */ Initialise the draw control and pass it the FeatureGroup of editable layers*************************
var drawControl = new L.Control.Draw(drawPluginOptions);
map.addControl(drawControl);

map.on("draw:created", function(e) {
  var type = e.layerType;
  var layer = e.layer;

  if (type === "polyline") {
    // add the drawn polyline to the FeatureGroup
    editableLayers.addLayer(layer);

    // update the coordinates variable
    var latlngs = layer.getLatLngs();
    coordinates = latlngs.map(function(latlng) {
      return [latlng.lat, latlng.lng];
    });
    polyline.setLatLngs(coordinates);
  } else if (type === "polygon") {
    // add the drawn polygon to the FeatureGroup
    editableLayers.addLayer(layer);

    // update the coordinates variable
    var latlngs = layer.getLatLngs();
    coordinates = latlngs.map(function(latlng) {
      return [latlng.lat, latlng.lng];
    });
    polygon.setLatLngs(coordinates);
  } else if (type === "circle") {
    // add the drawn polyline to the FeatureGroup
    editableLayers.addLayer(layer);

    // update the coordinates variable
    var latlngs = layer.getLatLngs();
    coordinates = latlngs.map(function(latlng) {
      return [latlng.lat, latlng.lng];
    });
    circle.setLatLngs(coordinates);
  }
});

// **********************************************

// var editableLayers = new L.FeatureGroup();
// map.addLayer(editableLayers);

map.on("draw:created", function(e) {
  var type = e.layerType,
    layer = e.layer;

  editableLayers.addLayer(layer);
});

var north = L.control({
  position: "bottomleft"
});
north.onAdd = function(map) {
  var div = L.DomUtil.create("div", "info legend");
  var imageUrl = "{% static 'images/North.png' %}";
  div.innerHTML =
    '<img src="' + imageUrl + '" style="height: 50px; width: 50px;">';
  return div;
};
north.addTo(map);

(uri =
  "https://portal.tcplgeo.com/geoservers/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=40&HEIGHT=20&LAYER=DP:DP"), {
  // namedToggle: false,
};
L.wmsLegend(uri);
//

// control
// mouse position

//******************************************************************Scale***************************************************************

L.control
  .scale({
    imperial: false,
    maxWidth: 200,
    metric: true,
    position: "bottomleft",
    updateWhenIdle: false
  })
  .addTo(map);

//**************************************************line mesure*************************************************************
L.control
  .polylineMeasure({
    position: "topleft",
    unit: "kilometres",
    showBearings: true,
    clearMeasurementsOnStop: false,
    showClearControl: true,
    showUnitControl: true
  })
  .addTo(map);

//**********************************************************area measure**********************************************************************
var measureControl = new L.Control.Measure({
  position: "topleft"
});
measureControl.addTo(map);

$("#btnData2").click(function() {
  SearchMe();
});

$("#btnData1").click(function() {
  ClearMe();
});

// *****************************************************************Search Button**********************************************************************
function SearchMe() {
  var array = $(".search").val().split(",");

  if (array.length == 1) {
    var sql_filter1 = "Gut_Number Like '" + array[0] + "'";
    fitbou(sql_filter1);
    wms_layer1.setParams({
      cql_filter: sql_filter1,
      styles: "highlight"
    });
    wms_layer1.addTo(map);
  } else if (array.length == 2) {
    var sql_filter1 =
      "Village__1 Like '" +
      array[0] +
      "'" +
      "AND Taluka Like '" +
      array[1] +
      "'";
    fitbou(sql_filter1);
    wms_layer1.setParams({
      cql_filter: sql_filter1,
      styles: "highlight"
    });
    wms_layer1.addTo(map);
  } else if (array.length >= 3) {
    var guts = array.slice(2, array.length).join(", ");
    var sql_filter1 =
      "Village__1 Like '" +
      array[0] +
      "'" +
      "AND Gut_Number IN (" +
      guts +
      ")" +
      "AND Taluka Like '" +
      array[1] +
      "'";
    fitbou(sql_filter1);
    wms_layer1.setParams({
      cql_filter: sql_filter1,
      styles: "highlight"
    });
    wms_layer1.addTo(map);
  }
}

function fitbou(filter) {
  var layer = "DP:Revenue";
  var urlm =
    "http://portal.tcplgeo.com:8080/geoservers/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=" +
    layer +
    "&CQL_FILTER=" +
    filter +
    "&outputFormat=application/json";
  $.getJSON(urlm, function(data) {
    geojson = L.geoJson(data, {});
    map.fitBounds(geojson.getBounds());
  });
}

function ClearMe() {
  map.setView([18.55, 73.85], 10, L.CRS.EPSG3857);
}

//***************************************************************KML***************************************************************

// var saveButton = document.getElementById("kmlBtn");
// saveButton.addEventListener("click", function() {
//   var bounds = map.getBounds();
//   var northEast = bounds.getNorthEast();
//   var southWest = bounds.getSouthWest();

//   var kml = '<?xml version="1.0" encoding="UTF-8"?>\n';
//   kml += '<kml xmlns="http://www.opengis.net/kml/2.2">\n';
//   kml += "<Document>\n";
//   kml += "<Placemark>\n";
//   kml += "<LineString>\n";
//   kml += "<coordinates>\n";
//   kml += northEast.lng + "," + northEast.lat + "\n"; // Top-right corner
//   kml += southWest.lng + "," + northEast.lat + "\n"; // Bottom-right corner
//   kml += southWest.lng + "," + southWest.lat + "\n"; // Bottom-left corner
//   kml += northEast.lng + "," + southWest.lat + "\n"; // Top-left corner
//   kml += northEast.lng + "," + northEast.lat + "\n"; // Close the polygon
//   kml += "</coordinates>\n";
//   kml += "</LineString>\n";
//   kml += "</Placemark>\n";
//   kml += "</Document>\n";
//   kml += "</kml>";

//   var link = document.createElement("a");
//   link.href = "data:text/xml;charset=utf-8," + encodeURIComponent(kml);
//   link.download = "leaflet.kml";
//   document.body.appendChild(link);
//   link.click();
//   document.body.removeChild(link);
// });

// ***************************************************pdf*********************************************************

function takeScreenshot() {
  html2canvas(document.getElementById("map"), {
    useCORS: true
  }).then(function(canvas) {
    var imgData = canvas.toDataURL("image/png");

    var pdf = new jsPDF();
    pdf.addImage(imgData, "PNG", 15, 25, 180, 135); //x,y , width, height

    // Get the height of the canvas element and add it to the PDF
    var imgHeight = canvas.height;

    // Add the local image to the PDF
    var img = new Image();
    img.onload = function() {
      pdf.addImage(img, "PNG", 15, 170, 180, 80);
      pdf.save("map.pdf");
    };
    img.src = "finalLegend.png";
  });
}

const $button = document.querySelector("#sidebar-toggle");
const $wrapper = document.querySelector("#wrapper");

$button.addEventListener("click", e => {
  e.preventDefault();
  $wrapper.classList.toggle("toggled");
});
//<!--                ______________________togglebutton_____________________________ -->
function toggleSidebar() {
  var sidebar = document.getElementById("sidebar-wrapper");
  var openIcon = document.getElementById("sidebar-open-icon");
  var closeIcon = document.getElementById("sidebar-close-icon");

  if (sidebar.classList.contains("toggled")) {
    // Sidebar is open, so close it
    sidebar.classList.remove("toggled");
    openIcon.classList.remove("d-none");
    closeIcon.classList.add("d-none");
  } else {
    // Sidebar is closed, so open it
    sidebar.classList.add("toggled");
    openIcon.classList.add("d-none");
    closeIcon.classList.remove("d-none");
  }
}

//Bookmark_____________________________________________________________________

// Define the getMapCenter function
function getMapCenter() {
  // var map =  L.map('map');
  var mapCenter = map.getCenter();
  var latitude = mapCenter.lat();
  var longitude = mapCenter.lng();
  return {
    latitude: latitude,
    longitude: longitude
  };
}
// Define the showCreateBookmarkForm function
function showCreateBookmarkForm(event) {
  var createBookmarkForm = document.getElementById("createBookmarkForm");
  createBookmarkForm.style.display = "block";

  if (createBookmarkForm) {
    var mapCenter = getMapCenter();
    var latitude = mapCenter.lat;
    var longitude = mapCenter.lng;

    html2canvas(document.getElementById("map")).then(function(canvas) {
      var screenshotData = canvas.toDataURL();
      console.log("Screenshot data:", screenshotData);

      var csrfTokenElement = document.querySelector(
        'input[name="csrfmiddlewaretoken"]'
      );
      var csrfToken = csrfTokenElement ? csrfTokenElement.value : "";

      $.ajax({
        type: "POST",
        url: saveBookmarkUrl,
        data: {
          screenshot: screenshotData,
          name: createBookmarkForm.name.value,
          latitude: mapCenter.latitude,
          longitude: mapCenter.longitude,
          csrfmiddlewaretoken: csrfToken
        },
        success: function(response) {
          console.log("Bookmark saved successfully:", response);
          // location.reload();
        },
        error: function(xhr, status, error) {
          console.error("Error saving bookmark:", error);
        }
      });
    });
  }
}

// Add an event listener to the createBookmarkBtn
var createBookmarkBtn = document.getElementById("createBookmarkBtn");
if (createBookmarkBtn) {
  createBookmarkBtn.addEventListener("click", function(event) {
    event.preventDefault();
    showCreateBookmarkForm();
  });
}
//     document.addEventListener('DOMContentLoaded', function() {
//     var createBookmarkBtn = document.getElementById('createBookmarkBtn');
//     if (createBookmarkBtn) {
//       createBookmarkBtn.addEventListener('click', createBookmark);
//     }

//     function createBookmark() {
//       var bookmarkName = window.prompt('Enter the bookmark name:');
//       var promptDialog = document.getElementsByClassName('prompt-dialog-box')[0];
//       if (promptDialog) {
//         promptDialog.classList.add('prompt-dialog');
//       }

//       if (bookmarkName) {
//         var mapCenter = map.getCenter();
//         var latitude = mapCenter.lat;
//         var longitude = mapCenter.lng;

//         html2canvas(document.getElementById('map')).then(function (canvas) {
//           var screenshotData = canvas.toDataURL();

//           var csrfTokenElement = document.querySelector('input[name="csrfmiddlewaretoken"]');
//           var csrfToken = csrfTokenElement ? csrfTokenElement.value : '';

//           $.ajax({
//             type: 'POST',
//             url: saveBookmarkUrl,
//             data: {
//               screenshot: screenshotData,
//               name: bookmarkName,
//               latitude: latitude,
//               longitude: longitude,
//               csrfmiddlewaretoken: csrfToken // Add the CSRF token to the request data
//             },
//             success: function (response) {
//               console.log('Bookmark saved successfully:', response);
//               location.reload();
//             },
//             error: function (xhr, status, error) {
//               console.error('Error saving bookmark:', error);
//             }
//           });
//         });
//       }
//     }
//   });
                              // makeQuery


                              
    // ***************************************************************Make QUery***************************************************************

    $("#button").click(function() {
      $("#box form").toggle("slow");
      $(document).ready(function() {
          $.ajax({
              type: "GET",
              url: "https://portal.tcplgeo.com/geoservers/DP/wfs?request=getCapabilities",
              dataType: "xml",
              success: function(xml) {
                  var select1 = $('#layer');

                  $(xml).find('FeatureType').each(function() {
                      $(this).find('Name').each(function() {
                          var value = $(this).text();
                          select1.append(
                              "<option class='ddindent' value='" +
                              value + "'>" + value + "</option>");
                      });
                  });
              }
          });
      });
      $(function() {
          $("#layer").change(function() {
              var attributes = document.getElementById("attributes");
              var length = attributes.options.length;
              for (i = length - 1; i >= 0; i--) {
                  attributes.options[i] = null;
              }
              var value_layer1 = $(this).val();
              $(document).ready(function() {
                  $.ajax({
                      type: "GET",
                      url: "https://portal.tcplgeo.com/geoservers/wfs?service=WFS&request=DescribeFeatureType&version=1.1.0&typeName=" +
                          value_layer1,
                      dataType: "xml",

                      success: function(xml) {

                          var select2 = $('#attributes');
                          $(xml).find('xsd\\:sequence').each(function() {
                              $(this).find('xsd\\:element').each(
                                  function() {
                                      var value = $(this)
                                          .attr('name');
                                      var type = $(this).attr(
                                          'type');
                                      if (value != 'geom' &&
                                          value != 'the_geom'
                                      ) {
                                          select2.append(
                                              "<option class='ddindent' value='" +
                                              type +
                                              "'>" +
                                              value +
                                              "</option>");
                                      }
                                  });
                          });
                      }
                  })
              });
              document.getElementById("textval").innerHTML = value_layer1;
          })
      });
      $(function() {
          $("#attributes").change(function() {
              var operator = document.getElementById("operator");
              var attributes = $("#layer option:selected").text();
              var length = operator.options.length;
              for (i = length - 1; i >= 0; i--) {
                  operator.options[i] = null;
              }
              var value_type = $(this).val();
              var value_attribute = $('#attributes option:selected').text();
              operator.options[0] = new Option('Select operator', "");
              if (value_type == 'xsd:short' || value_type == 'xsd:int' || value_type ==
                  'xsd:double') {
                  var operator1 = document.getElementById("operator");
                  operator1.options[1] = new Option('>', '>');
                  operator1.options[2] = new Option('<', '<');
                  operator1.options[3] = new Option('=', '=');
                  operator1.options[4] = new Option('<=', '<=');
                  operator1.options[5] = new Option('=>', '=>');
                  operator1.options[6] = new Option('IN ()', 'IN');
                  operator1.options[7] = new Option('OR ||', 'OR');
                  operator1.options[8] = new Option('AND &', 'AND');
              } else if (value_type == 'xsd:string') {
                  var operator1 = document.getElementById("operator");
                  operator1.options[1] = new Option('Like', 'ILike');
                  operator1.options[2] = new Option('IN ()', 'IN');
                  operator1.options[3] = new Option('OR ||', 'OR');
                  operator1.options[4] = new Option('AND &', 'AND');
              }


              var selectvalue = document.getElementById("selectvalue");
              var length = selectvalue.options.length;
              for (i = length - 1; i >= 0; i--) {
                  selectvalue.options[i] = null;
              }

              $(document).ready(function() {
                  $.ajax({
                      type: "GET",
                      url: "https://portal.tcplgeo.com/geoservers/wfs?service=wfs&version=1.0.0&request=getfeature&typename=" +
                          attributes + "&PROPERTYNAME=" + value_attribute,
                      dataType: "xml",
                      success: function(xml) {
                          var select3 = $('#selectvalue');
                          var unq = new Array();
                          $(xml).each(function() {
                              $(this).find('gml\\:featureMember')
                                  .each(function() {
                                      unq.push($(this)
                                          .text());
                                  });
                              let unique = unq.filter((item, i,
                                  ar) => ar.indexOf(
                                  item) === i);
                              for (let i = 0; i < unique
                                  .length; i++) {
                                  select3.append(
                                      "<option class='ddindent' value='" +
                                      unique[i] + "'>" +
                                      unique[i] + "</option>");
                              }
                          });
                      }
                  });
              });
              document.getElementById("textval").innerHTML = "From Layer" + attributes +
                  " is " + value_attribute;
          });

      });
  });



  $(function() {
      $("#selectvalue").change(function() {
          var vars = ['layer', 'attributes', 'operator', 'selectvalue'];
          for (let i = 0; i < vars.length; i++) {
              //   var operator = document.getElementById("operator");
              var layer = $("#layer option:selected").text();
              var attributes = $("#attributes option:selected").text();
              var operator = $("#operator option:selected").text();
              var selectvalue = $("#selectvalue option:selected").text();
          }
          document.getElementById("textval").innerHTML = "From Layer " + layer + " column is " +
              attributes + " " + operator + " value is " + selectvalue;

          var sql_filter1 = attributes + " Like '" + selectvalue + "'"
          // console.log(sql_filter1)
          fitbou(sql_filter1, layer)

          var wms_layerf = L.tileLayer.wms(
              "https://portal.tcplgeo.com/geoservers/DP/wms", {
                  layers: layer,
                  format: "image/png",
                  transparent: true,
                  tiled: true,
                  version: "1.1.0",
                  attribution: "ugc",
                  opacity: 1,
                  cql_filter: sql_filter1,
                  styles: 'highlight',

              }
          );
          wms_layerf.addTo(map);


          function fitbou(filter, layer1) {
              var urlm =
                  "https://portal.tcplgeo.com/geoservers/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=" +
                  layer1 + "&CQL_FILTER=" + filter + "&outputFormat=application/json";
              // console.log(urlm)
              $.getJSON(urlm, function(data) {
                  geojson = L.geoJson(data, {});
                  map.fitBounds(geojson.getBounds());
              });
          };


      });
  })



</script>
      
    </body>






</html>