<!-- djangotemplates/example/templates/index.html-->
{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo1.png' %}">

    <title>TCPL</title>
    <!-- This is how to include a static file -->
    <link rel="stylesheet" href="{% static 'css/mystyle.css' type='text/css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'libs/jquery.jsjquery-ui-1.12.1/jquery-ui.css' %}"> -->
    <!-- Leaflet -->
    <link rel="stylesheet" href="{% static 'libs/leaflet/leaflet.css' %}" />
     <!-- BOOTSTRAP only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- ZoomBar & slider-->
    <link rel="stylesheet" href="{% static 'libs/L.Control.ZoomBar-master/src/L.Control.ZoomBar.css' %}" />
    <link rel="stylesheet" href="{% static 'libs/Leaflet.zoomslider-master/src/L.Control.Zoomslider.css' %}" />
    <!-- MousePosition -->
    <link rel="stylesheet" href="{% static 'libs/Leaflet.MousePosition-master/src/L.Control.MousePosition.css ' %}" />
    <!-- line-measure -->
    <link rel="stylesheet" href="{% static 'libs/polyline-measure/line-measure.css' %}" />
    <link rel="stylesheet" href="{% static 'libs/leaflet-measure-master/leaflet-measure.css' %}" />
    <!-- draw -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css" />
    <!-- legend -->
    <link rel="stylesheet" href="{% static 'libs/leaflet-wms-legend/leaflet.wmslegend.css' %}" />
   
   
<!-- fontawsome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <!-- Add SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">


<!-- Add your other JavaScript code -->
<style>
  /* Navbar background color */
  .navbar-light {
    /*background-color: #004aad !important;*/
  }

  /* Navbar text color */
  .navbar-light .navbar-nav .nav-link {
    color: black !important;
    font-weight: bold;
    margin-right: 50px;
  }

  /* Navbar hover color */
  .navbar-light .navbar-nav .nav-link:hover {
    color: #004aad !important;
  }
  .dropdown-item:hover{
      color: #004aad !important;   
  }
  a{
      text-decoration: none;
  }
  table {
    margin-top: 5px;
    margin-left: 10px;
    width: 100%;
  }
  th, td {
    padding: 10px;
    text-align: left;
  }
  .delete-button button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .my-swal-container
  {
    
    align-items: center;
    padding: 5px;
    font-size: 10px;
  }
  .my-swal-input{
   
    width: 85%;
    color:black;
  }
  .my_swal_title{
    font-size: 20px;
  }
  .my-swal-button{
    padding: 10px;
  }
  .my_icon{
    font-size: 10px;
  }
  .my_swal_text{
    font-size: 8px;
  }
</style>
        </head>
    <body style="overflow: hidden; color: #f8f9fa;">

       

        <div class="">

          
             <div id="navbar-wrapper" >
                <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                    <div class="container-fluid pt-2">
                      <a href="{% url 'index' %}">
                        <h5 style="color: #004aad; padding-left: 30px;"> 
                          <img  class="imglogo" src="{% static 'images/logo1.png' %}" alt="image not found" style="width: 40px; height: 40px; border-radius: 180%; background-color: #dddddd; margin-top: -3%;">
                          TCPLGeo
                        </h5>
                      </a>
                  
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                  
                      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: 15px;">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        
                  <!--
                            <li class="nav-item dropdown position-static" style="font-size: 15px;">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Select option
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="font-size: 14px; font-weight: bold;">
                                  <li>
                                    <a type="button" class="dropdown-item" href="{% url 'main' %}">Search Village, Gut_Number, Taluka</a>
                                  </li>
                                  <li>
                                    <a type="button" class="dropdown-item" href="{% url 'coordinates' %}">Search Coordinates</a>
                                  </li>
                                  <li>
                                    <hr class="dropdown-divider">
                                  </li>
                                  <li>
                                    <a class="dropdown-item" href="#">
                                      <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="file" name="file">
                                        <button type="submit" class="btn btn-outline-primary"><i class="fas fa-file-import"></i></button>
                                      </form>
                                    </a>
                                  </li>
                                </ul>
                              </li>
                  -->
                          <li class="nav-item me-5">
                            <button onclick="downloadPDF('{{ user.username }}', '{{ user.email }}')" id="save-btn" class="text-light border-0" style="background:#004aad;">
                              <i class="fas fa-download"> Export map as PDF</i>
                          </li>

                            <li class="nav-item dropdown me-5 pe-5" style="font-size: 15px;">
                            <h3 class="nav-link profile-username fw-bold text-capitalize" style="font-size: 15px; color: #004aad;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              {{ user.username }}
                            </h3>
                  
                            <ul class="dropdown-menu me-5" aria-labelledby="navbarDropdown" style="font-size: 13.7px;">
                              <li>
                                <label for="" class="p-2">User-Email :</label>
                                <p class=" px-2" style="color: #004aad;">{{ user.email }}</p>
                              </li>
                              <li>
                              
                              </li>
                              <li>
                                <hr class="dropdown-divider">
                              </li>
                               <!--Bookmark code -->
                              <li>
                                  <button id="saveBtn" class="dropdown-item" style="font-size:12px; font-weight: bold; color:#004aad;" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Create Bookmark <i class="fal fa-plus-circle"></i>
                                  </button>
                                   <!-- Show bookmark list--> 
                                   <table id="locationTable" style="overflow-y: auto; height: 100px;">
                                      <thead>
                                        <tr>
                                          <th>Name</th>
                                                               
                                          <th></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                       <!-- Table rows will be dynamically added here -->
                                      </tbody>
                                    </table>
                              </li>
                              <li>
                                <hr class="dropdown-divider">
                              </li>
                              <li>
                                <div class="text-danger">
                                  <a href="{% url 'logout' %}" class="text-danger fw-bold p-1 px-2" style="border: 0; font-size: 15px; border-radius: 10px;" name="Logout" type="submit">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <span class="d-none d-sm-inline">logout</span>
                                  </a>
                                </div>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                  
    
            <section id="content-wrapper">
                <div id="map"></div>
    
                <div id="main" class="ms-5">
                         
                            <div id="box"  class="ms-5 mt-4">
                              <span id="button" class="bg-secondary">Make Query</span>
                              <form action="" id="form">
                                  <div id="filter-tag">
                                      <table>
                                          <tr>
                                              <td>
                                                  <label for="layer" style="font-size: 12px; padding: 2px;  font-weight: bold;">Select Layer</label>
                                              </td>
                                              <td>
                                                  <select class="form-control" id="layer" name="layer" style="font-size: 10px;">
                                                      <option value="" >Select Layer</option>
                                                  </select>
                                              </td>
                                          </tr>
                                          <tr>
                                              <td>
                                                  <label for="attributes" style="font-size: 12px; padding: 2px; font-weight: bold;">Select Column</label>
                                              </td>
                                              <td>
                                                  <select class="form-control" id="attributes" name="attributes" style="font-size: 10px;">
                                                      <option value="">Select Attributes</option>
                                                  </select>
                                              </td>
                                          </tr>
                                          <tr>
                                              <td>
                                                  <label for="operator" style="font-size: 12px; padding: 2px; font-weight: bold;">Select_Operator</label>
                                              </td>
                                              <td>
                                                  <select class="form-control" id="operator" name="operator" style="font-size: 10px;">
                                                      <option value="">Select operator</option>
                                                  </select>
                                              </td>
                                          </tr>
                                          <tr>
                                              <td>
                                                  <label for="value" style="font-size: 12px; padding: 2px; font-weight: bold;">Enter Value</label>
                                              </td>
                                              <td>
                                                  <select class="form-control" id="selectvalue" name="selectvalue" style="font-size: 10px;" >
                                                      <option value="">select value</option>
                                                  </select>
                                              </td>
                                          </tr>
                                          <tr>
                                       
                                                  <button class="btn btn-success" onclick="event.preventDefault();  loadMap()" style="font-size: 13px;">Load Query</button>
                                        
                                          </tr>
                                          <tr>
                                            
                                              <!-- <p>selected query</p> -->
                                              <p id="textval" style="font-size: 10px; color: black;"> </p>
                                           
                                          </tr>
                                      </table>
                                  </div>
                              </form>
                          </div>
                
                </div>
                
    
                </div>
            </section>
    
    
        </div>
      <!--html2pdf--> 
      <script src="{% static 'js/jspdf.umd.min.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
      
  <!-- jquery -->
        <script>
                        
          var imageUrl = "{% static 'images/legend1.png' %}"; // Replace with the actual URL of your image
        </script>
          


                                  
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
                    <!--leaflet-->

                    <script src="{% static 'libs/leaflet/leaflet.js' %}"></script>
                      <!--Bootstrap-->
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
                      <!--Zoombar-->
                    <script  src="{% static 'libs/L.Control.ZoomBar-master/src/L.Control.ZoomBar.js' %}"></script>
                    <script src="{% static 'libs/Leaflet.zoomslider-master/src/L.Control.Zoomslider.js' %}"></script>
                      <!--Mouse-position-->        
                    <script src="{% static 'libs/Leaflet.MousePosition-master/src/L.Control.MousePosition.js' %}"></script>
                      <!--line measurement-->        
                    <script src="{% static 'libs/polyline-measure/line-measure.js' %}"></script>
                      <!--meausrent-->        
                    <script src="{% static 'libs/leaflet-measure-master/leaflet-measure.js' %}"></script>
                    <script src="{% static 'libs/feat.js' %}"></script>
                      <!--draw-control-->        
                    <script src="{% static 'libs/leaflet-draw-control/leaflet-draw-control.js' %}"></script>
                      <!--legend-->        
                    <script src="{% static 'libs/leaflet-wms-legend/leaflet.wmslegend.js' %}"></script>
                     
                      <!--leaflet-image-->        
                    <script src="{% static 'libs/leaflet-image.js' %}"></script>
                      <!--Leaflet Omnivore KML plugin -->       
                    <script src="https://unpkg.com/leaflet-omnivore/leaflet-omnivore.min.js"></script>
                      <!--sweetalert-->        
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
                
                
         
                    <script src="{% static 'js/map.js' %}"></script>

                
      
    </body>
</html>